[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
matplotlib = "*"

[dev-packages]
mypy = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3.13"
